.Navbar-container {
    border: none;
    justify-content: left;
    max-width: 100%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    padding:0px;
    background-color:darkslategrey;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Navbar-container button {
    background-color: darkslategrey;
    color: #fff;
    border: none;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    margin:0%;
}

.Navbar-container button:hover {
    background-color: #6200ea;
    transition: background-color 0.3s;
    cursor: pointer;
}

.Navbar-container h1 {
    text-decoration: underline;
    color: #fff;
    display: inline;
    font-size: 3em;
    margin:4px;
    padding-left: 10px;
}

Body {
    background-color: #0d47a1;
}

.Navbar-container button:last-child {
    border:1px solid white;
    gap:400px;
    margin-left: auto;
}

.Navbar-container button:last-child:hover{
    background-color: red;
}
