body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    color: #fff;
}

.image-container {
    flex: 1;
    background: url('https://images.squarespace-cdn.com/content/v1/5627572ee4b01fbf93c7d8bb/1631650854838-62P9O74E8NOXSAPWJ88H/A+girl+in+a+bookstore+%7C+Moody+portrait+photography+%7C+The+last+bookstore%2C+Los+Angeles%2C+CA+%7C+Tristan+Zhou+(%40trystane)') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-right: 10px #fff;
}

.form-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d47a1;
    overflow: hidden;
    position: relative;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-decoration: underline;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
}

.input-group i {
    color: #6200ea;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1rem;
    flex: 1;
}

.login-container button {
    padding: 10px;
    font-size: 1rem;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #3700b3;
}

.login-container a {
    text-decoration: none;
    color: #6200ea;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.login-container a:hover {
    color: #3700b3;
}
/*Below is the CSS animation keyframes for the bubble effect*/

@keyframes bubble {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0.5;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(-200%) scale(1.5);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    bottom: -20px;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255, 0.3);
    border-radius:50%;
    animation: bubble 10s infinite ease-in-out;
    opacity: 0%;
}

.bubble:nth-child(1) {
    left: 10%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(2) {
    left: 30%;
    animation-duration: 8s;
    animation-delay: 4s;
}

.bubble:nth-child(3) {
    left: 50%;
    animation-duration: 7s;
    animation-delay: 1s;
}

.bubble:nth-child(4) {
    left: 70%;
    animation-duration: 5s;
    animation-delay: 3s;
}

.bubble:nth-child(5) {
    left: 90%;
    animation-duration: 9s;
    animation-delay: 5s;
}