h1 {
    color:orange;
}

.input {
         display: flex;
         border-radius:8px;
         padding: 5px 10px;
         border: 1px solid white;
         align-items: center;
}

.container {
    flex: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
    border-radius: 12px;
    padding: 40px;
    position: relative;
    z-index: 10;
    margin: auto;
    background: rgba(255, 255, 255, 0.9) ;
}

body {
    margin: 0;
    background-color: #0d47a1;
    height: 100vh;
    color: #fff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.divided {
    margin: 10px 0px;
    border-bottom: 1px solid black;

}