.login-container {
    flex: 1;
    background: rgba(255, 255, 255, 0.9); /* Sets background colour to a white */
    border-radius: 12px; /* Curves the edge of the border*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /*Applies a box four pixelswide and offset by 10 pixels */
    padding: 40px; /*Adds 40 pixels of padding within the container on all sides*/
    text-align: center;
    max-width: 400px; /*Creates a maximum width of 400px to ensure it doesnt become too big */
    position: relative;
    z-index: 10; /* assigns as higher stack order */
    margin:auto /* Centers the container within the div element */
}

body {
    margin-top: 0px;
    font-family:'Roboto', sans-serif;
    background-color: #0d47a1;
    overflow: hidden;
    height: 100vh;
    position: relative;
    color: #fff;
}

.login-container h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px
}

.input-group i {
    color: #6200ea;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1em;
    flex: 1;
}

.login-container button {
    padding: 10px;
    font-size: 1em;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #3700b3;
}

.login-container a {
    text-decoration: none;
    color: #6200ea;
    font-size: 0.9em;
    transform: color 0.3s;
}

.login-container a:hover {
    color:  #3700b3;
}